**/.git
**/.github
commands
 
**/__pycache__/
**/notebooks
**/env
**/paletteenv
**/myenv
palettenev/
logs/*.logs
logs/*.log.*
logs/initial.logs
logs/
**/logs
**.yaml
 
test.py
test2.py
tmp
*.png

.env
service_account.json